<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div>
        {{ user.id }}
    </div>
    <div>
        {{ user.username }}
    </div>
    <form action="/user/update" method="post">
        <div>
            密码 <input type="text" name="password" placeholder="{{user.password}}">
            <button class="pure-button pure-button-primary">修改密码</button>
        </div>
    </form>
    <div>
        {{ user.password }}
    </div>
</body>
</html>